<h3>Shortened URLs</h3>

<div>
  <% @urls.each do |url| %>
    <div class="row">
      <div class="col-sm">
        <%= url.original %>
      </div>
      <div class="col-sm">
        <a href=<%= request.protocol + request.host_with_port + '/' + url.shortened %>>
          <%= url.shortened %>
        </a>
      </div>
    </div>
    <div class="col-sm">
      <%= link_to 'Show', url, class: "btn btn-light btn-sm" %>
      <%= link_to 'Delete', url, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-light btn-sm" %>
    </div>
  <% end %>
</div>