<!DOCTYPE html>
<html>
  <head>
    <title>Jason LaCarrubba's URL Shortener</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1>Jason LaCarrubba's URL Shortener</h1>
      <ul class="nav">
        <li class="nav-item">
          <%= link_to 'New', new_url_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'List', urls_path, class: "nav-link" %>
        </li>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
